---
import { Icon } from "astro-icon/components";

import TitleHeader from "../components/TitleHeader.astro";
import Layout from "../layouts/Layout.astro";
import { type PostData } from "../lib/post";
import { sortPosts } from "../lib/utils";

interface RouteParams {
	post: string;
}
interface StaticPath {
	params: RouteParams;
	props: {
		post: any;
	};
}

export async function getStaticPaths(): Promise<StaticPath[]> {
	const posts: PostData[] = await Astro.glob("../posts/**/*.mdx");
	return sortPosts(posts).map((post) => ({
		params: { post: post.frontmatter.id },
		props: { post },
	}));
}

const { Content, frontmatter } = Astro.props.post;
---

<Layout title={frontmatter.title}>
	<div class="navbar-container" transition:animate="slide">
		<div class="navbar">
			<span id="back-btn" transition:persist>
				<Icon name="mdi:chevron-left" size={32} />
			</span>
			<TitleHeader class="navbar-header">{frontmatter.title}</TitleHeader>
			<span class="icon-spacer">
				<Icon name="mdi:dots-horizontal" size={32} />
			</span>
		</div>
	</div>
	<div class="main-container" transition:animate="slide">
		<main>
			<Content components={{ h1: TitleHeader }} />
		</main>
	</div>
</Layout>

<style>
	.navbar-container {
		box-shadow: 0px -10px 14px 20px rgb(61 82 69 / 49%);
		width: 100vw;
	}

	.navbar {
		display: flex;
		margin: 0;
		padding: 1rem;
	}

	.navbar #back-btn {
		cursor: pointer;
		margin: auto 0;
	}

	.navbar .icon-spacer {
		visibility: hidden;
	}

	.main-container {
		display: flex;
	}

	main {
		margin: auto;
		width: 100%;

		/* Medium devices (landscape tablets, 768px and up) */
		@media only screen and (min-width: 768px) {
			margin-top: 2rem;
			width: 80vw;
		}
	}
</style>

<script>
	import { navigate } from "astro:transitions/client";

	function setBackButtonListener() {
		const btn = document.getElementById("back-btn");
		btn?.addEventListener("click", () => navigate(import.meta.env.BASE_URL));
	}

	document.addEventListener("astro:after-swap", () => setBackButtonListener());
	setBackButtonListener();
</script>
