---
import {type GridItemData} from '../lib/grid-item';
import {type PostData} from '../lib/post';
import GridLayout from '../components/GridLayout.astro';
import TitleHeader from '../components/TitleHeader.astro';
import Layout from '../layouts/Layout.astro';

const posts: PostData[] = await Astro.glob('../posts/**/*.mdx');
posts.sort((a, b) => {
	const now = new Date();
	const aPublishDate = a.frontmatter.publishDate;
	const bPublishDate = b.frontmatter.publishDate;
	const aDate = (aPublishDate ? new Date(aPublishDate) : now);
	const bDate = (bPublishDate ? new Date(bPublishDate) : now);
	return bDate.getTime() - aDate.getTime();
});
const items: GridItemData[] = posts
	.filter(post => post.frontmatter.published!!)
	.map(post => ({
		postId: post.frontmatter.id,
		title: post.frontmatter.title,
		thumbnail: post.frontmatter.preview,
	}));

---

<Layout title="Chaos Garden">
	<main>
		<TitleHeader class="title-header">Chaos Garden</TitleHeader>
		<GridLayout items={items}/>
	</main>
</Layout>

<style>
	main {
		/* margin: auto; */
		/* padding: 1rem; */
		/* Mobile first */
		width: 100%;
		/* width: 800px; */
		/* max-width: calc(100% - 2rem); */
		color: var(--font-color);
		font-size: 20px;
		line-height: 1.6;
	}
</style>
