---
import {type GridItemData} from '../lib/grid-item';
import {type PostData} from '../lib/post';
import GridLayout from '../components/GridLayout.astro';
import TitleHeader from '../components/TitleHeader.astro';
import Layout from '../layouts/Layout.astro';
import {sortPosts} from '../lib/utils';

const posts: PostData[] = await Astro.glob('../posts/**/*.mdx');
const items: GridItemData[] = sortPosts(posts)
	.map(post => ({
		postId: post.frontmatter.id,
		title: post.frontmatter.title,
		thumbnail: post.frontmatter.preview,
	}));

---

<Layout title="Chaos Garden">
	<main>
		<TitleHeader class="title-header">
			Chaos Garden
			<div slot="subtitle">
				A showcase of my generative and technical artwork
			</div>
		</TitleHeader>
		<GridLayout items={items}/>
	</main>
</Layout>

<style>
	main {
		/* margin: auto; */
		/* padding: 1rem; */
		/* Mobile first */
		width: 100%;
		/* width: 800px; */
		/* max-width: calc(100% - 2rem); */
		color: var(--font-color);
		font-size: 20px;
		line-height: 1.6;
		margin: auto;
		min-height: calc(100vh - var(--footer-height));

		/* Medium devices (landscape tablets, 768px and up) */
		@media only screen and (min-width: 768px) {
			max-width: 90vw;
		}

		/* Extra Large devices (large laptops and desktops, 1200px and up) */
		@media only screen and (min-width: 1200px) {
			max-width: 80vw;
		}
	}
</style>
