<div class="art-card">
  <slot />
</div>

<style>
	div.art-card {
    /* Mobile first */
		height: 120vw;
		width: 100%;

		@media only screen and (min-width: 768px) {
			border-radius: 3px;
			height: 80vh;
			overflow: hidden;
		}
	}
</style>
