<div class="blog-card">
  <slot />
</div>

<style>
	div.blog-card {
    /* Mobile first */
    background-color: #fbf9f5;
    color: #4b4b4b;
    margin: 1rem 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 3px;
	}
</style>

