---
import IconLink from '../components/IconLink.astro';
import {type Links} from '../lib/post';

interface Props {
  date: string;
  links?: Links;
}

const {date, links} = Astro.props;

function formatDate(dateStr: string) {
  const date = new Date(dateStr);
  return date.toLocaleString('default', { month: 'long', year: 'numeric' });
}
---

<div class="blog-card">
  <div class="content-container">
    {links &&
      <div class="links-container">
        {links.web && <IconLink href={links.web} name="mdi:web" />}
        {links.github && <IconLink href={links.github} name="mdi:github" />}
        {links.codesandbox && <IconLink href={links.codesandbox} name="code-sandbox-seeklogo" />}
      </div>
    }
    <div class="date-container">
      {formatDate(date)}
    </div>
    <slot />
  </div>
</div>

<style>
	:root {
    --font-color: #4b4b4b;
	}

	div.blog-card {
    /* Mobile first */
    background-color: var(--panel-color);
    border-radius: 3px;
    box-sizing: border-box;
    color: var(--font-color);
    margin: 1rem 0.5rem;
    padding: 0.5rem 1rem;

    @media only screen and (min-width: 768px) {
      margin: 1rem auto;
      width: 100%;
    }
	}

  div.blog-card div.content-container {
    @media only screen and (min-width: 768px) {
      margin: auto;
      max-width: 80ch;
      padding: 1rem;
    }
  }

  div.content-container div.date-container {
    font-weight: 400;
    margin-top: 0.25rem;
    margin-bottom: -0.5rem;
  }

  div.content-container div.links-container {
    margin-top: 0.5rem;
  }
</style>
