---
---

<div class="footer">
  <div class="content">
    © 2024-present Justin Cano
    <br/>
    All Rights Reserved
  </div>
</div>


<style>
  div.footer {
    display: flex;
    height: var(--footer-height);
    text-align: center;
    width: 100vw;
  }
  div.footer div.content {
    margin: auto;
  }
</style>
