---
interface Props {
	class: string;
	title: string;
	body: string;
	href: string;
}

const { class: className = '', href, title, body } = Astro.props;
---

<grid-item-container class:list={["grid-item-container", className]}>
	<div></div>
</grid-item-container>

<style>
	.grid-item-container {
		background-color: white;
	}
	.grid-item-container:is(:hover, :focus-within) h2 {
		color: rgb(var(--accent-light));
	}
	.grid-item-container div {
		height: 100%;
		width: 100%;
	}
</style>

<script>
	import { navigate } from 'astro:transitions/client';
  class GridItemContainer extends HTMLElement {
    constructor() {
      super();
      const inner = this.querySelector('div');
      inner?.addEventListener('click', () => {
				navigate('test');
      });
    }
  }

  customElements.define('grid-item-container', GridItemContainer);
</script>
