---

---

<button data-toggle-grid> Toggle Grid </button>
<button data-refresh> Refresh </button>

<script>
  interface LightRails extends HTMLElement {
    refresh(): void;
    toggleGrid(): void;
  }

  const toggleGridButton = document.querySelector("button[data-toggle-grid");
  toggleGridButton?.addEventListener("click", () => {
    const lightRails = document.getElementById("light-rails") as LightRails;
    lightRails?.toggleGrid();
  });

  const refreshButton = document.querySelector("button[data-refresh");
  refreshButton?.addEventListener("click", () => {
    const lightRails = document.getElementById("light-rails") as LightRails;
    lightRails?.refresh();
  });
</script>
