---
interface Props {
  showGrid?: string;
}

const { showGrid } = Astro.props;
---

<light-rails id="light-rails">
  <div id="art-container" data-show-grid={showGrid}></div>
</light-rails>

<style>
  #art-container {
    display: flex;
    height: 100%;
    width: 100%;
  }
  #art-container canvas {
    margin: auto;
  }
</style>

<script>
  import P5 from "p5";
  import {
    HSB_COLOR_MAX,
    DEFAULT_TILE_SIZE as TILE_SIZE,
    FRAMES_BETWEEN_LIGHT_PATHS,
    MAX_LIGHT_PATHS,
  } from "@lib/generative-art/light-rails/constants";
  import { LightRailTile } from "@lib/generative-art/light-rails/tile";
  import { WaveFunctionCollapseGridGenerator } from "@lib/generative-art/light-rails/wave-function-collapse";
  import {
    LightPath,
    LightPathGenerator,
  } from "@lib/generative-art/light-rails/light-path";

  class LightRails extends HTMLElement {
    private p5: P5 | undefined;
    private root: HTMLElement | null | undefined;
    private showGrid = true;
    private grid: Array<Array<LightRailTile>> = [];
    private lightPaths: Array<LightPath> = [];
    private model: WaveFunctionCollapseGridGenerator | undefined;
    private pathGen: LightPathGenerator | undefined;

    connectedCallback() {
      this.root = document.getElementById("art-container");
      if (!this.root) return;
      this.showGrid = this.root.dataset.showGrid !== "false";
      this.p5 = new P5(this.sketch.bind(this));
    }

    toggleGrid() {
      this.showGrid = !this.showGrid;
    }

    refresh() {
      const model = this.model;
      if (!model || !this.p5) return;
      model.initialize();
      model.collapse(this.p5);

      // Initialize grid
      this.grid = [];
      for (let row = 0; row < model.rows; row++) {
        this.grid.push([]);
        for (let col = 0; col < model.cols; col++) {
          const data = model.grid[row][col];
          const tile = LightRailTile.fromTile(data);
          this.grid[row].push(tile);
        }
      }

      this.lightPaths = [];
      this.pathGen = new LightPathGenerator(this.grid);
    }

    private sketch(p5: P5) {
      if (!this.root) return;
      const { offsetWidth, offsetHeight } = this.root;
      let numCols: number;
      let numRows: number;
      let frameCount = 0;

      p5.setup = () => {
        if (!this.root) return;
        const width = Math.floor(offsetWidth / TILE_SIZE) * TILE_SIZE;
        const height = Math.floor(offsetHeight / TILE_SIZE) * TILE_SIZE;

        // Creating and positioning the canvas
        const canvas = p5.createCanvas(width, height);
        canvas.parent(this.root);
        canvas.style("margin: auto");

        numCols = Math.floor(width / TILE_SIZE);
        numRows = Math.floor(height / TILE_SIZE);

        p5.colorMode(p5.HSB, HSB_COLOR_MAX);

        this.model = new WaveFunctionCollapseGridGenerator(
          numCols,
          numRows,
          TILE_SIZE,
        );

        this.refresh();
      };

      p5.draw = () => {
        p5.clear();
        p5.background("#283747");

        if (!numCols || !numRows || !this.grid.length || !this.pathGen) return;

        for (let row = 0; row < numRows; row++) {
          for (let col = 0; col < numCols; col++) {
            const tile = this.grid[row][col];
            tile.draw(p5, this.showGrid);
          }
        }

        if (
          this.lightPaths.length < MAX_LIGHT_PATHS &&
          (!this.lightPaths.length || frameCount > FRAMES_BETWEEN_LIGHT_PATHS)
        ) {
          frameCount = 0;
          const lightPath = this.pathGen.generate(p5);
          if (lightPath) {
            this.lightPaths.push(lightPath);
          }
        }

        for (const lightPath of this.lightPaths) {
          lightPath.draw(p5);
        }

        this.lightPaths = this.lightPaths.filter((p) => !p.done);

        frameCount++;
      };
    }
  }

  document.addEventListener("astro:before-swap", () => {
    const container = document.getElementById("light-rails");
    container?.remove();
  });

  customElements.define("light-rails", LightRails);
</script>
